@font-face {
  font-family: "iconfont"; /* Project id 4342129 */
  src: url("//at.alicdn.com/t/c/font_4342129_3fhgnfusxe8.woff2?t=1710235543863")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4342129_3fhgnfusxe8.woff?t=1710235543863")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4342129_3fhgnfusxe8.ttf?t=1710235543863")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
